:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #777;

  --color-green-light: #c7f9cc;
  --color-green-med: #80ed99;
  --color-green-dark: #57cc99;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  line-height: 1.6;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  position: relative;
}
